<div class="row">
  <div class="col-sm-12 mTop-30">
    <div class="inner-wrap frameLR bg-white shadow clearfix ">
      <hr data-symbol="About Us">
      <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
          <h2 style="color: #000; text-align: center;">Shop Local. Save Local. Support Local.</h2>
          <h4 style="text-align: center;">Welcome to Blue Mango Deals – where Long Islanders get great deals from local
            Merchants</h4>
        </div>
      </div>

      <div class="row flex-center" style="margin-top: 50px;">

        <div class="col-md-6" style="text-align: justify; font-size: 16px;">
          <p>Blue Mango Deals is located on Long Island and we help small business owners connect with their
            customers.</p>
          <p>Blue Mango Deals was created to help support local merchants. There are a lot of ways your local merchants
            can offer you deals but most of them are very expensive. Blue Mango Deals is a cost effective alternative
            for local merchants who want to offer their customers great deals.</p>
          <p>We have made Blue Mango Deals easy to use. When you grab a great deal from your local merchant, you do not
            have to pay upfront for the deal; you pay when you redeem your voucher. So no more worrying about paying for
            something you may not use. </p>
        </div>

        <div class="col-md-6">
          <img src="images/shopping.png" alt="#" class="img-responsive" style="height: 400px; margin-left: auto; margin-right: auto;">
        </div>

      </div>

      <div class="row" style="margin-top: 50px;">
        <div class="col-md-6">
          <div>
            <h4 style="color: #000; text-align: center;">If you have any questions,</h4>
            <h4 style="color: #000; text-align: center;">you can contact here</h4>
            <input type="button" value="Contact Us" style="width: 250px; height: 50px; margin: auto;" routerLink='/contact' class="btn btn-block btn-primary btn-raised btn-sm" />
            <h4 style="color: #000; text-align: center;">Or you can email at</h4>
            <p style="text-align: center; font-size: 20px; color: #170000;"><a style="text-decoration: none; text-align: center; color: #170000;" href="mailto:customersupport@bluemangodeals.com">customersupport@bluemangodeals.com</a></p>
          </div>
        </div>

          <div class="col-md-6">
            <div>
              <h4 style="color: #000; text-align: center;">If you are a merchant and would like to offer your</h4>
              <h4 style="color: #000; text-align: center;">customers a great deal, Contact Us </h4>
              <input type="button" value="Contact Us" style="width: 250px; height: 50px; margin: auto;" routerLink='/contact' class="btn btn-block btn-primary btn-raised btn-sm" />
              <h4 style="color: #000; text-align: center;">Or you can email Us</h4>
              <p style="text-align: center; font-size: 20px; color: #170000;"><a style="text-decoration: none; text-align: center; color: #170000;" href="mailto:merchantsupport@bluemangodeals.com">merchantsupport@bluemangodeals.com</a></p>
            </div>
          </div>
        </div>

      <div class="row" style="margin-top: 50px; margin-bottom: 50px;;">
        <div class="col-md-12">
          <h2 style="color: #000; text-align: center;">If you haven’t yet, make sure your sign up <br>for Blue Mango Deals for free</h2>
        </div>
      </div>
    </div>
  </div>
</div>
