<div class="row">
  <div class="col-sm-3 sidebar">
    <div class="inner-side shadow">
      <div class="widget">
        <hr data-symbol="Need some help?">
        <div class="newsletter">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque erat velit, dignissim eu fringilla pretium, porta nec justo. Quisque at tellus sit amet nibh sodales porta. Nunc quam lorem, varius nec euismod et, ornare nec sem. Vestibulum faucibus dolor porta mauris maximus fringilla. Donec imperdiet lorem eu iaculis luctus. Cras vehicula porta ante, vel fermentum arcu consectetur laoreet. Suspendisse potenti. Aenean at porta erat. Curabitur varius porta velit. Sed tempor lacus ipsum, sit amet sagittis sem tempor feugiat. Integer rhoncus, libero in venenatis dapibus, lectus nunc sodales purus, et sodales ipsum ex eget justo. Maecenas odio ante, bibendum et sagittis vitae, ornare et sapien.</p>
        </div>
      </div>
    </div>
    <!-- /col 4 - sidebar -->
  </div>
  <div class="col-sm-9 mTop-30">


    <div class="inner-wrap frameLR bg-white shadow clearfix ">


      <hr data-symbol="Contact Us">
      <!-- widget -->
      <div class="widget contact-widget">
        <h4 class="widget-title">
          Your data will be safe!
        </h4>
        <form class="contact-form clearfix" action="#" method="post" novalidate="novalidate">
          <p>
            Your email address will not be published.
          </p>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <p class="input-block">
                <label class="required">
                  Name
                  <span>(required)</span>
                </label>
                <input type="text" class="form-control" placeholder="Name">
              </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <p class="input-block">
                <label class="required">
                  Email
                  <span>(required)</span>
                </label>
                <input type="text" class="form-control" placeholder="Email">
              </p>
            </div>
          </div>
          <!-- row -->

          <p class="textarea-block">

            <label class="required" for="contact_message">
              Your message
              <span>(required)</span>
            </label>
            <textarea rows="6" cols="88" id="contact_message" name="message" class="form-control"></textarea>
          </p>
          <p class="contact-button clearfix">

            <input type="submit" class="btn btn-raised ripple-effect btn-danger btn-lg" id="submit-contact"
                   value="Send message">
          </p>
        </form>
        <div id="response">
        </div>
      </div>
      <!-- punica-contact-widget -->
    </div>


  </div>
</div>
