<div class="site-wrapper animsition" data-animsition-in="fade-in" data-animsition-out="fade-out"
     style="animation-duration: 0.8s; opacity: 1;">

  <header>
    <div class="top-bar bg-light hdden-xs">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 list-inline list-unstyled no-margin hidden-xs">
            <p class="no-margin">
              Have any questions? Contact Us at <a href="mailto:customer-support@bluemangodeals.com" class="link-white">customer-support@bluemangodeals.com</a>
            </p>
          </div>
          <div class="pull-right col-sm-6">
            <ul class="list-inline list-unstyled pull-right">

              <li class="active">
                <a routerLink='/faq'>FAQ</a>
              </li>

              <li>
                <a routerLink='/login'>Sign In</a>
              </li>

              <li>
                <a routerLink='/sign-up'>Sign Up</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="container">
        <div class="row header-row">
          <div class="col-sm-3">
            <div class="logo">
              <a routerLink='/' class="navbar-brand logo">
                <img src="images/logo.png" alt="" width="285" height="60" class="img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="has-feedback has-feedback-left">
                      <label class="control-label sr-only">Search for Deals...</label>
                      <input type="text" style="padding-right: 0; padding-left: 40px;" class="form-control" placeholder="Search for Deals..." />
                      <i style="left: 0; margin: 5px; font-size: 20px; line-height: 30px;" class="form-control-feedback ti-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col 4 -->

              <div class="col-sm-4">
                <select class="form-control">
                  <option value="0" selected="selected">
                    Select your Location
                  </option>
                  <option value="1">
                    All
                  </option>
                  <option value="2">
                    Travel
                  </option>
                  <option value="3">
                    Beauty &amp; Spas
                  </option>
                  <option value="4">
                    Career &amp; skills
                  </option>
                  <option value="5">
                    Food &amp; Drinks
                  </option>
                  <option value="6">
                    Health &amp; Beauty
                  </option>
                </select>
              </div>
              <!-- /.col 3 -->
              <div class="col-sm-2">
                <a class="btn btn-raised ripple-effect btn-default btn-block" style="height: 44px;">
                  <i style="left: 0px; margin: 5px; font-size: 24px; line-height: 36px;" class="form-control-feedback ti-search"></i>
                  <span style="padding-left: 30px; line-height: 24px;">Search</span>
                </a>
              </div>
              <!-- /.col 1 -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="nav-wrap">
      <div class="nav-wrap-holder">
        <div class="container" id="nav_wrapper">
          <nav class="navbar navbar-static-top nav-white" id="main_navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                                    <span class="sr-only">
                                            Toggle navigation
                                        </span>
                <span class="icon-bar">
                                        </span>
                <span class="icon-bar">
                                        </span>
                <span class="icon-bar">
                                        </span>
              </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="Navbar">
              <!-- regular link -->
              <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                  <a routerLink='/' routerLinkActive="active" class="dropdown-toggle" role="button">
                    <i class="ti-home">
                    </i> Home
                  </a>
                </li>

                <li class="dropdown">
                  <a routerLink='/about' class="dropdown-toggle" role="button">
                    <i class=" ti-clipboard">
                    </i> About
                  </a>
                </li>

                <li>
                  <a routerLink='/news'>
                    <i class=" ti-list-ol">
                    </i> News
                  </a>
                </li>

                <li>
                  <a routerLink='/my-account'>
                    <i class="ti-settings">
                    </i> My Account
                  </a>
                </li>

                <li>
                  <a routerLink='/contact' routerLinkActive="active">
                    <i class="ti-email">
                    </i> Contact
                  </a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a routerLink='/my-redemptions' routerLinkActive="active" class="dropdown-toggle" role="button">
                    <i class="fa fa-qrcode">
                    </i> My Redemptions
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- /.div nav wrap holder -->
    </div>
    <!-- /#nav wrap -->
  </header>

  <router-outlet></router-outlet>

  <footer id="footer">
    <div class="container">

      <div class="col-sm-2">
        <h5>
          Customer Service
        </h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a routerLink='/faq'>FAQ's</a>
          </li>
          <li>
            <a href="#">Help and Support</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>
          Business Owner?
        </h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Merchant Portal</a>
          </li>
          <li>
            <a href="#">Promote Your Business</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>
          Follow Us
        </h5>

        <button type="button" class="btn btn-circle btn-raised ripple-effect btn-primary" onclick="window.open('https://www.facebook.com/bluemangodeals', '_blank').focus();">
          <i class="ti-facebook"></i>
        </button>

        <button type="button" class="btn btn-circle btn-raised ripple-effect btn-primary" onclick="window.open('https://twitter.com/bluemangodeals', '_blank').focus();">
          <i class="ti-twitter"></i>
        </button>

        <button type="button" class="btn btn-circle btn-raised ripple-effect btn-primary" onclick="window.open('http://plus.google.com/+BlueMangoDeals', '_blank').focus();">
          <i class="ti-google"></i>
        </button>

        <button type="button" class="btn btn-circle btn-raised ripple-effect btn-primary" onclick="window.open('https://www.instagram.com/bluemangodeals', '_blank').focus();">
          <i class="ti-instagram"></i>
        </button>

      </div>
      <div class="col-sm-5">
        <h5>
          Get Blue Mango Deals Mobile App
        </h5>

        <a href="https://itunes.apple.com/us/app/bluemangodeals/id000000000" target="_blank"><img src="assets/images/app-store.svg" width="185"/></a>

        <a href="https://play.google.com/store/apps/details?id=com.bluemangodeals.app" target="_blank"><img  src="assets/images/google-play.svg" width="185" /></a>

      </div>
    </div>
    <div class="btmFooter">
      <div class="container">
        <div class="col-sm-6">
          <ul class="footer-legal-links">
            <li>
              <a routerLink='/legal'>Legal</a>
            </li>
            <li>
              <a routerLink='/privacy-policy'>Privacy Policy</a>
            </li>
            <li>
              <a routerLink='/terms-of-service'>Terms of Service</a>
            </li>
            <li>
              <a routerLink='/contact'>Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <p class="pull-right">
            Copyright &copy; 2017
            <strong>Blue Mango Deals</strong>. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>
