/**
 * =============
 *  Sign up Box
 * =============
 */

.sign-up-box{
  background-color: #2684f5;
  color: #fff;
  text-align: center;

  a{
    color: #fff;
  }

  a:focus, a:hover {
    color: #fff !important;
    border-color: #fff;
  }
}
