<div class="row">
  <div class="col-sm-3 sidebar">
    <div class="inner-side shadow">
      <div class="widget widget-menu">
        <hr data-symbol="CATEGORIES">
        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">

          <li class="dropdown">
            <a href="#">
              <i class="ti-shine"></i>
              Fun Stuff
              <span class="sidebar-badge">12</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="ti-gift"></i>
              Good Eats & Drinks
              <span class="sidebar-badge">3</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="ti-shopping-cart"></i>
              Health & Beauty
              <span class="sidebar-badge">456</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="ti-ticket"></i>
              Home & Garden
              <span class="sidebar-badge badge-circle">12</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="ti-pulse"></i>
              The East End
              <span class="sidebar-badge badge-circle">45</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="ti-direction-alt"></i>
              Wineries & Breweries
              <span class="sidebar-badge badge-circle">117</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="ti-cut"></i>
              Fashion
              <span class="sidebar-badge badge-circle">117</span>
            </a>
          </li>

        </ul>
        <!-- Sidebar divider -->

      </div>
    </div>
    <!-- /col 4 - sidebar -->
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12 clearfix">
        <div class="hr-link">
          <hr class="mBtm-50 mTop-30" data-symbol="FEATURED DEALS">
          <div class="view-all">
            <a href="index.html">
              VIEW ALL
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix">
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="deal-entry orange">

          <div class="image">
            <a href="#" target="_blank" title="#">
              <img src="images/affiliate-33.jpg" alt="#" class="img-responsive">
            </a>
            <span class="bought">
              <i class="ti-eye"></i>
              169
            </span>
          </div>
          <!-- /.image -->
          <div class="title">
            <a href="#" target="_blank" title="ATLETIKA 3 mēnešu abonements">
              Breakfast and Dinner Deal at Nathans
            </a>
          </div>



          <div class="entry-content">

            <div class="merchant">
              <span>Nathans</span>
            </div>

            <div class="location">
              <i class="ti-location-pin"></i>
              <span>Wantagh</span>
            </div>

            <div class="prices clearfix">
              <div class="price">
                <b>$100.00</b>
              </div>

              <div class="old-price">
                <span>$85.00</span>
              </div>
            </div>
          </div>
          <!--/.entry content -->
          <footer class="info_bar clearfix">
            <ul class="unstyled list-inline row">
              <li class="time col-sm-7 col-xs-6 col-lg-8">
                <span>Save 65%</span>
              </li>
              <li class="info_link col-sm-5 col-xs-6 col-lg-4">
                <a href="#" class="btn btn-block btn-primary btn-raised btn-sm">
                  View Deal
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="deal-entry orange">

          <div class="image">
            <a href="#" target="_blank" title="#">
              <img src="images/affiliate-32.jpg" alt="#" class="img-responsive">
            </a>
            <span class="bought">
              <i class="ti-eye"></i>
              385
            </span>
          </div>
          <!-- /.image -->
          <div class="title">
            <a href="#" target="_blank" title="ATLETIKA 3 mēnešu abonements">
              Breakfast and Dinner Deal at Nathans
            </a>
          </div>



          <div class="entry-content">

            <div class="merchant">
              <span>Nathans</span>
            </div>

            <div class="location">
              <i class="ti-location-pin"></i>
              <span>Wantagh</span>
            </div>

            <div class="prices clearfix">
              <div class="price">
                <b>$100.00</b>
              </div>

              <div class="old-price">
                <span>$85.00</span>
              </div>
            </div>
          </div>
          <!--/.entry content -->
          <footer class="info_bar clearfix">
            <ul class="unstyled list-inline row">
              <li class="time col-sm-7 col-xs-6 col-lg-8">
                <span>Save 65%</span>
              </li>
              <li class="info_link col-sm-5 col-xs-6 col-lg-4">
                <a href="#" class="btn btn-block btn-primary btn-raised btn-sm">
                  View Deal
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="deal-entry orange">

          <div class="image">
            <a href="#" target="_blank" title="#">
              <img src="images/affiliate-34.jpg" alt="#" class="img-responsive">
            </a>
            <span class="bought">
              <i class="ti-eye"></i>
              4552
            </span>
          </div>
          <!-- /.image -->
          <div class="title">
            <a href="#" target="_blank" title="ATLETIKA 3 mēnešu abonements">
              Breakfast and Dinner Deal at Nathans
            </a>
          </div>



          <div class="entry-content">

            <div class="merchant">
              <span>Nathans</span>
            </div>

            <div class="location">
              <i class="ti-location-pin"></i>
              <span>Wantagh</span>
            </div>

            <div class="prices clearfix">
              <div class="price">
                <b>$100.00</b>
              </div>

              <div class="old-price">
                <span>$85.00</span>
              </div>
            </div>
          </div>
          <!--/.entry content -->
          <footer class="info_bar clearfix">
            <ul class="unstyled list-inline row">
              <li class="time col-sm-7 col-xs-6 col-lg-8">
                <span>Save 65%</span>
              </li>
              <li class="info_link col-sm-5 col-xs-6 col-lg-4">
                <a href="#" class="btn btn-block btn-primary btn-raised btn-sm">
                  View Deal
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="deal-entry orange">

          <div class="image">
            <a href="#" target="_blank" title="#">
              <img src="images/affiliate-30.jpg" alt="#" class="img-responsive">
            </a>
            <span class="bought">
              <i class="ti-eye"></i>
              169
            </span>
          </div>
          <!-- /.image -->
          <div class="title">
            <a href="#" target="_blank" title="ATLETIKA 3 mēnešu abonements">
              Breakfast and Dinner Deal at Nathans
            </a>
          </div>



          <div class="entry-content">

            <div class="merchant">
              <span>Nathans</span>
            </div>

            <div class="location">
              <i class="ti-location-pin"></i>
              <span>Wantagh</span>
            </div>

            <div class="prices clearfix">
              <div class="price">
                <b>$100.00</b>
              </div>

              <div class="old-price">
                <span>$85.00</span>
              </div>
            </div>
          </div>
          <!--/.entry content -->
          <footer class="info_bar clearfix">
            <ul class="unstyled list-inline row">
              <li class="time col-sm-7 col-xs-6 col-lg-8">
                <span>Save 65%</span>
              </li>
              <li class="info_link col-sm-5 col-xs-6 col-lg-4">
                <a href="#" class="btn btn-block btn-primary btn-raised btn-sm">
                  View Deal
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="deal-entry orange">

          <div class="image">
            <a href="#" target="_blank" title="#">
              <img src="images/affiliate-31.jpg" alt="#" class="img-responsive">
            </a>
            <span class="bought">
              <i class="ti-eye"></i>
              385
            </span>
          </div>
          <!-- /.image -->
          <div class="title">
            <a href="#" target="_blank" title="ATLETIKA 3 mēnešu abonements">
              Breakfast and Dinner Deal at Nathans
            </a>
          </div>



          <div class="entry-content">

            <div class="merchant">
              <span>Nathans</span>
            </div>

            <div class="location">
              <i class="ti-location-pin"></i>
              <span>Wantagh</span>
            </div>

            <div class="prices clearfix">
              <div class="price">
                <b>$100.00</b>
              </div>

              <div class="old-price">
                <span>$85.00</span>
              </div>
            </div>
          </div>
          <!--/.entry content -->
          <footer class="info_bar clearfix">
            <ul class="unstyled list-inline row">
              <li class="time col-sm-7 col-xs-6 col-lg-8">
                <span>Save 65%</span>
              </li>
              <li class="info_link col-sm-5 col-xs-6 col-lg-4">
                <a href="#" class="btn btn-block btn-primary btn-raised btn-sm">
                  View Deal
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="deal-entry orange">

          <div class="image">
            <a href="#" target="_blank" title="#">
              <img src="images/affiliate-16.jpg" alt="#" class="img-responsive">
            </a>
            <span class="bought">
              <i class="ti-eye"></i>
              4552
            </span>
          </div>
          <!-- /.image -->
          <div class="title">
            <a href="#" target="_blank" title="ATLETIKA 3 mēnešu abonements">
              Breakfast and Dinner Deal at Nathans
            </a>
          </div>



          <div class="entry-content">

            <div class="merchant">
              <span>Nathans</span>
            </div>

            <div class="location">
              <i class="ti-location-pin"></i>
              <span>Wantagh</span>
            </div>

            <div class="prices clearfix">
              <div class="price">
                <b>$100.00</b>
              </div>

              <div class="old-price">
                <span>$85.00</span>
              </div>
            </div>
          </div>
          <!--/.entry content -->
          <footer class="info_bar clearfix">
            <ul class="unstyled list-inline row">
              <li class="time col-sm-7 col-xs-6 col-lg-8">
                <span>Save 65%</span>
              </li>
              <li class="info_link col-sm-5 col-xs-6 col-lg-4">
                <a href="#" class="btn btn-block btn-primary btn-raised btn-sm">
                  View Deal
                </a>
              </li>
            </ul>
          </footer>
        </div>
      </div>
    </div>

    <div class="row center-block text-center">
      <a class="btn btn-default btn-raised ripple-effect next">
        Load More...
      </a>
    </div>
  </div>
</div>
